<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity"
    type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="AveaSmsConfigSection" type="SmsSender.Avea.AveaSmsProviderConfigSection,SmsSender.Avea" />
  </configSections>
  <!--<AveaSmsConfigSection UserName="Ilker Halil" Password="turer" Header="+905422476935" />-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="SmsSender"/>
    <assembly name="SmsSender.Avea"/>
    <assembly name="SmsSender.Turkcell"/>
    <assembly name="SmsSender.Vodafone"/>
    <namespace name="SmsSender"/>
    <namespace name="SmsSender.Types"/>
    <namespace name="SmsSender.Avea"/>
    <namespace name="SmsSender.Turkcell"/>
    <namespace name="SmsSender.Vodafone"/>
    
    <alias alias="ISmsProvider" type="ISmsProvider"/>
    <alias alias="AveaSmsProvider" type="AveaSmsProvider"/>
    <alias alias="TurkcellSmsProvider" type="TurkcellSmsProvider"/>
    <alias alias="VodafoneSmsProvider" type="VodafoneSmsProvider"/>
    <container>
      <register type="ISmsProvider" mapTo="AveaSmsProvider" name="avea">
        <property name="UserName" value="iturer"  />
        <property name="Password" value="password"  />
        <property name="Header" value="+905422476935"  />
      </register>
      <register type="ISmsProvider" mapTo="TurkcellSmsProvider" name="turkcell">

      </register>
      <register type="ISmsProvider" mapTo="VodafoneSmsProvider" name="vodafone">

      </register>
    </container>
  </unity>
</configuration>
